{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block extra-head %}
    <link rel="stylesheet" href={% static 'css/logged_out.css' %}>
{% endblock %}
{% block content %}

    <p class="main-text">{% translate "Thanks for spending some quality time with the web site today." %}</p>
        <div class='object-container'>
            <img src={% static 'People-taking-care-of-plants.png' %} class="main-image"
                 alt="People taking care of their plants">
        </div>
    <p class="link-text"><a href="/accounts/login">{% translate 'Log in again' %}</a></p>

{% endblock %}
