body, html {
    overflow: hidden;
}

main {
    margin-top: 2.4rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70%;
}

.main-image {
    width: 20rem;
    height: 20rem
}

.welcome-text-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 60%;
}

.welcome-text {
    font-weight: bolder;
    margin-bottom: 2.5rem;
    font-size: 2rem;
    margin-top: -0.5rem;
}

.sub-text {
    width: 90%;
    font-size: 1rem;
}

.get-started-button {
    margin-top: 1rem;
}