.followed-plants-container {
    display: flex;
    flex-direction: row;
    gap: 4rem;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 20rem;
    height: 30rem;
}

.card-text {
    overflow-y: auto;
    max-height: 2.7rem;
}

.card-img-top {
    width: 20rem;
    height: 20rem;
}

