form {
    display: inline;
}

.follow-button-style {
    width: 2.2rem;
    height: 1.90rem;
    text-align: center;
    padding: 0.14rem 0.05rem 0 0;
    margin-top: 0.01rem;
}

.add-plant-section {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.plant-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.plant-img {
    width: 7rem;
    height: 7rem;
}