{% extends 'base.html' %}
{% load static %}
{% block extra-head %}
    <link rel="stylesheet" href={% static 'css/profile.css' %}>
{% endblock %}
{% block content %}
    <main>
        <h2 class="mt-4">Followed Plants</h2>
        <div class="followed-plants-container">
            {% for plant in followed_plants %}
                <div class="card">
                    {% if plant.img %}
                        <img class="card-img-top" src="{{ plant.img.url|safe }}" alt="Card image cap">
                    {% else %}
                        <img class="card-img-top" src="{% static 'default-placeholder.png' %}" alt="Card image cap">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ plant.name }}</h5>
                        <p class="card-text">{{ plant.description }}</p>
                        <a class="btn btn-primary btn-sm active" role="button" aria-pressed="true"
                           href="/plants/{{ plant.id }}/">Click to show details</a>
                    </div>
                </div>
            {% endfor %}
        </div>
        <h2 class="mt-4">Recently Viewed Plants</h2>
        <div class="followed-plants-container">
            {% for plant in viewed_plants %}
                <div class="card">
                    {% if plant.img %}
                        <img class="card-img-top" src="{{ plant.img.url|safe }}" alt="Card image cap">
                    {% else %}
                        <img class="card-img-top" src="{% static 'default-placeholder.png' %}" alt="Card image cap">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ plant.name }}</h5>
                        <p class="card-text">{{ plant.description }}</p>
                        <a class="btn btn-primary btn-sm active" role="button" aria-pressed="true"
                           href="/plants/{{ plant.id }}/">Click to show details</a>
                    </div>
                </div>
            {% endfor %}
        </div>

    </main>
{% endblock %}
