{% extends 'base.html' %}
{% load static %}
{% block extra-head %}
    <link rel="stylesheet" href={% static 'css/../../static/schedule_keeper/plant_list.css' %}>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"/>

    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
{% endblock %}
{% block content %}
    {% if plant_list %}
        <ul class="list-group">
            {% for plant in plant_list %}
                <li class="list-group-item">
                    <span class="text-info">Name: </span> <span>{{ plant.name }}</span>
                    <br>
                    <span class="text-info">Category: </span> <span>{{ plant.category }}</span>
                    <br>
                    <span class="text-info">Description: </span><span>{{ plant.description }}</span>
                    <br>
                    <span class="text-info">Water every </span><span>{{ plant.watering_frequency }}</span><span
                        class="text-info"> days</span>
                    <br>
                    {% if not plant.is_following %}
                        <button class="btn btn-success follow-button ">
                        <span class="material-symbols-outlined">
                            favorite
                        </span>
                        </button>
                    {% else %}
                        <button type="button" class="btn btn-danger follow-button">
                                <span class="material-symbols-outlined">
{#                                    TODO: FOLLOW FORM AND VIEW#}
                        heart_broken
                        </span>
                        </button>

                    {% endif %}

                    <a class="btn btn-primary btn-sm active" role="button" aria-pressed="true"
                       href="/plants/{{ plant.id }}/">Click to show details</a></li>
                </li>
                </ul>
            {% endfor %}
    {% else %}
        <div class="alert alert-warning mt-2" role="alert">
            No plants found for "{{ search }}".
        </div>
    {% endif %}
{% endblock %}